In [31]:
## The code is not going to be work here, as I did not use my credentials out of security reasons,
## but feel free to play with your credentials

In [3]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

# 0. If you have your database on your computer, just follow next steps

Put the database file (.db) into the same folder with your python notebook and create engine, showing the path to your database
I used sqlalchemy package for connection

In [21]:
connection=create_engine("sqlite:///chessplayers.db").connect() 
print(connection)

<sqlalchemy.engine.base.Connection object at 0x7f098d42a850>

In [19]:
pd.read_sql_table("Players", connection) ## Read the SQL table
#For some reason it is not working on this platform.

ValueError: Table Players not found

In [17]:
query = """
SELECT Name, Gender, Year_of_birth FROM Players 
WHERE Year_of_birth < 1980
"""
## You can write SQL Query inside the notebook in a familiar SQL way

pd.read_sql_query(query, connection) ## Make pandas for reading the query
# You can save then the query and work as normal, with Pandas

OperationalError: (sqlite3.OperationalError) no such table: Players
[SQL:
SELECT Name, Gender, Year_of_birth FROM Players
WHERE Year_of_birth < 1980
]
(Background on this error at: http://sqlalche.me/e/e3q8)

# 2. Accessing MySQL database from Bluehost with Python

It was really frustrating for me to access MySql with Python, so I want to share some of the knowledge I learned from my struggles. 

**My goal was:** To access Wordpress website's database (MySql), hosted on Bluehost

   1. **First of all, you should make your IP address recognizable when you access the database.** 
   
       - Bluehost --> Advanced --> below Databases-->remote MySql -->Add Access Host

           And at "Host" field you just put the IP of your computer. (check your IP through System Preferences of your computer)
           
           
   2. Second of all, you need to <strong>add a new user with a new password to the MySQL database </strong>, which you will use for connection through Python.
       - Bluehost --> Advanced --> below Databases -->  MySQL Databases 
*            There you add a new user and password
*            Then DO NOT FORGET To "Add User to the Database" . 
* You select your new user and add to the existing database and give ALL PRIVILIGES
           
 I did not do it in the beginning and my access to the database was always refused.

In [ ]:
Then we go to the Jupyter Lab notebook and write magic

In [26]:
# Define the MySQL engine using MySQL Connector/Python

engine = sqlalchemy.create_engine(
    'mysql+mysqlconnector://NEW_USER_NAME:PASSWORD@HOST:PORT/database_name'
).connect()

print(engine)

ValueError: invalid literal for int() with base 10: 'PORT'

* NEW_USER_NAME - your new name you created in MySQL Databases, which you also added to the database
* PASSWORD - Your Password you set for your new user
* HOST - I tried "localhost", which should work by default, but it did not work for me, so I used the domain name of my website
* PORT - by default is 3306
* database_name - a precise name of your database (without .db at the end)

# 3. Working with Queries after connection

You can check what tables does your database contains:

In [25]:
query = """
SHOW FULL TABLES FROM `database_name`
"""
pd.read_sql_query(query, engine)

NameError: name 'engine2' is not defined

Then you can choose any table and explore it with Pandas

In [28]:
data=pd.read_sql_table("_yoast_seo_links", engine)

NameError: name 'engine' is not defined

## I wished you could see the dataframe, but I can not show you my credentials for Wordpress Database :) If you have another practices how to access MySql, please share in the comments